
abstract=The General Data Protection Regulation (GDPR) is comprised of several articles, each with points that refer to specific concepts. The general convention of referring to these points and concepts is to quote the specific article or point using a human-readable reference. This ontology provides a way to refer to the points within the GDPR using the EurLex ontology published by the European Publication Office. It also defines the concepts defined, mentioned, and requried by the GDPR using the Simple Knowledge Organization System (SKOS) ontology.
ontologyTitle=GDPRtEXT - GDPR text extentions
ontologyPrefix=gdpr
ontologyNamespaceURI=https://w3id.org/GDPRtEXT#
ontologyName=GDPRtEXT
thisVersionURI=https://w3id.org/GDPRtEXT/v/0.7
latestVersionURI=https://w3id.org/GDPRtEXT#
previousVersionURI=https://w3id.org/GDPRtEXT/v/0.6
dateOfRelease=2020-03-31
ontologyRevisionNumber=0.7
licenseURI=https://creativecommons.org/licenses/by/4.0/
licenseName=CC-by-4.0
licenseIconURL=https://licensebuttons.net/l/by/4.0/88x31.png
citeAs="GDPRtEXT - GDPR as a Linked Data Resource". Harshvardhan J. Pandit*, Kaniz Fatema, Declan O'Sullivan, Dave Lewis. 15th European Semantic Web Conference (ESWC), Resource Track. Crete, Heraklion, Greece. 2018
DOI=https://doi.org/10.1007/978-3-319-93417-4_31
status=Ontology Specification Draft
backwardsCompatibleWith=https://w3id.org/GDPRtEXT/v/0.6
publisher=ADAPT Centre
publisherURI=https://adaptcentre.ie/
publisherInstitution=Trinity College Dublin
publisherInstitutionURI=https://tcd.ie/
authors=Harshvardhan J. Pandit
authorsURI=https://harshp.com/i/me#HJP
authorsInstitution=Trinity College Dublin
authorsInstitutionURI=https://tcd.ie/
contributors=Christoph Debruyne, Kaniz Fatema, Pat McBennett
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
